backend/n8n_workflows/ingestion_limitless.json
{
  "name": "Ingest Limitless Data",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "rule": "0 0 * * *",
        "timezone": "America/New_York"
      },
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "id": "e2c8a7f9-7029-4a68-8138-933f178ba7to"
    },
    {
      "parameters": {
        "url": "{{ $credentials.limitlessApiUrl || 'https://api.limitless.ai/v1/events' }}",
        "authentication": "headerAuth",
        "headerAuth": {
          "name": "Authorization",
          "value": "Bearer {{ $credentials.limitlessApiKey }}"
        },
        "options": {
          "splitIntoItems": true
        }
      },
      "name": "Fetch Limitless Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "id": "a3b8a7f9-7029-4a68-8138-933f178ba7ta"
    },
    {
      "parameters": {
        "command": "python /opt/lifeboard_scripts/mem0_handler.py add '{{ JSON.stringify($json) }}'",
        "options": {
          "shell": true,
          "env": {
            "QDRANT_HOST": "{{ $env.QDRANT_HOST || 'localhost' }}",
            "QDRANT_PORT": "{{ $env.QDRANT_PORT || 6333 }}",
            "OLLAMA_BASE_URL": "{{ $env.OLLAMA_BASE_URL || 'http://localhost:11434' }}",
            "OLLAMA_LLM_MODEL": "{{ $env.OLLAMA_LLM_MODEL || 'llama3.1' }}",
            "OLLAMA_EMBEDDER_MODEL": "{{ $env.OLLAMA_EMBEDDER_MODEL || 'nomic-embed-text' }}"
          }
        }
      },
      "name": "Store in Mem0",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "notes": "Payload to script: {\"user_id\": \"lifeboard_user\", \"data\": {...limitless_event_data...}, \"metadata\": {\"source\": \"limitless\"}}",
      "id": "c4d8a7f9-7029-4a68-8138-933f178ba7tb"
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Fetch Limitless Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Limitless Data": {
      "main": [
        [
          {
            "node": "Store in Mem0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "1",
  "meta": {
    "instanceId": "placeholder_instance_id"
  },
  "pinData": {}
}
