backend/n8n_workflows/query_daily_view.json
{
  "name": "Query Daily View Data",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "path": "{{ $env.DAILY_VIEW_WEBHOOK_PATH || 'webhook-daily-view' }}",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Daily View Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "webhookId": "{{ $env.DAILY_VIEW_WEBHOOK_ID || 'placeholder-daily-view-webhook-id' }}",
      "id": "i2c8a7f9-4029-4a68-8138-933f178ba7to"
    },
    {
      "parameters": {
        "command": "python /opt/lifeboard_scripts/mem0_handler.py search '{{ JSON.stringify($json.body) }}'",
        "options": {
          "shell": true,
          "env": {
            "QDRANT_HOST": "{{ $env.QDRANT_HOST || 'localhost' }}",
            "QDRANT_PORT": "{{ $env.QDRANT_PORT || 6333 }}",
            "OLLAMA_BASE_URL": "{{ $env.OLLAMA_BASE_URL || 'http://localhost:11434' }}",
            "OLLAMA_LLM_MODEL": "{{ $env.OLLAMA_LLM_MODEL || 'llama3.1' }}",
            "OLLAMA_EMBEDDER_MODEL": "{{ $env.OLLAMA_EMBEDDER_MODEL || 'nomic-embed-text' }}"
          }
        }
      },
      "name": "Search Mem0 for Daily Data",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "notes": "Webhook body should contain date: YYYY-MM-DD and user_id. Script payload: {\"user_id\": \"lifeboard_user\", \"query\": \"Retrieve all entries for YYYY-MM-DD\", \"date_filter\": \"YYYY-MM-DD\"}",
      "id": "h4d8a7f9-4029-4a68-8138-933f178ba7tb"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "id": "i4d8a7f9-4029-4a68-8138-933f178ba7tc"
    }
  ],
  "connections": {
    "Daily View Webhook": {
      "main": [
        [
          {
            "node": "Search Mem0 for Daily Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Mem0 for Daily Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "5",
  "meta": {
    "instanceId": "placeholder_instance_id"
  },
  "pinData": {}
}
